@charset "UTF-8";

a {
	text-decoration: none;
}
h1{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: sans-serif, cursive;
	font-size: 4em;
 	text-align: center;
	color: #F1C164;
	text-shadow: 5px 5px #008080;
}
.region_container{
	margin-bottom: 20px;
}
table {
	border-collapse: collapse;
	width: 100%;
}
table tr{
	height: 42px;
}
th {
	background-color: #bbdefb;
}

td {
	background-color: #e3f2fd;
}

#pageMenu {
	background-color: #bbdefb;
}

input:focus {
	outline: none;
}