@charset "UTF-8";

h1{
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: sans-serif, cursive;
	font-size: 4em;
 	text-align: center;
	color: #F1C164;
	text-shadow: 5px 5px #008080;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}

th {
	background-color: #bbdefb;
	height: 21px;
}

td {
	background-color: #e3f2fd;
}

#menu {
	background-color: #bbdefb;
	height: 30px;
}